.container-count {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.container-count button {
    background: rgb(185, 169, 169);
    font-size: 30px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    //border: 1px solid #CCC;

}

.container-count span {
    font-size: 26px;
    margin: 0px 20px;
}

.item-detail-info > button a {
    color: white;
    text-decoration: none;
}
.styleDetailImage {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    margin: 10px;
}
.styleDetailTitle > h2 {
    font-size: 10%;
}
p.styleDetailPrice {
    text-align: center;
    color: blue;
    font-size: 30px;
    font-family: arial black;
}
.item-detail-image {
    display: inline-flex;
    border-style: groove;
    border-color: gray;
    border-radius: 20px;
    margin-top: 10px;
}
span.category {
    color: deepskyblue;
    font-size: 20px;
}
.detail_info h2{
    font-size: 30px;
}
.detail_info button{
    font-size: 25px;
    border-color: white;
    border-radius: 8px;
    width: auto;
    height: auto;
}
.button {
    width: 10px;
}