/* .containerDetail{
    width: 200%;
    margin: auto;
} */
.detail_image{
box-sizing: content-box;
padding-left: 5px;
padding-top: 5px;
width: 300px;
}
.item-detail-image {
    display: inline-flex;
    border-style: groove;
    border-color: gray;
    border-radius: 20px;
    margin: 10px;
}
span.category {
    color: deepskyblue;
    font-size: 20px;
}
p.detail_price {
    text-align: center;
    color: blue;
    font-size: 30px;
    font-family: arial black;
}
.detail_info h2{
    font-size: 30px;
}
span.detailTituloTalles {
    font-size: 20px;
}
.detailTalleButton {
    padding: 15px;
}
.detail_info button{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 8px;
    width: 40px;
    height: 25px;
}