.container {
    color: black;
    font-size: 120%;
}
.nav-style{
    color: #379c5d;
    font-size: 15px;
    background-color: rgba(105, 179, 192, 0.5);
    text-align: center;
}
.nav-style ul li button{
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.692);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.nav-style ul li{
    display: inline-flex;
    margin: 1px;
}
ul{
    padding: 0px;
}
h1{
    margin-top: 0;
}
.cart-widget{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 35px;
    padding-right: 5px;
    color: black;
}
.nav-style ul{
    margin: auto;
    padding-top: 20px;
}
.logo {
    width: 88px;
    display: flex;
    float: left;
}