.container {
    background-color: black;
    color: aqua;
    font-size: 10px;
}
.nav-style{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: violet;
}
button{
    border-radius: 10px;
    background-color: orangered;
    color: orange;
}