.item-product{
    float: left;
    width: 20%;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.countProd{
    display: flex;
    justify-content: center;
}

.countProd button{
    align-items: center;
    width: 35%;
    height: 10%;
    margin: 3px;
    background-color: lightblue;
}